#support-form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ccc;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea, select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #5808a3d0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #39007ac7;
    transition: all 0.5s;
  }

  body {
    background-color: #333;
  }